html, body{
    width:100%;
    height:100%;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin-top:5px;
    margin-bottom:2px;
    text-align: center;
}
div{
    border:1px solid lightgray;
}
.horizontal {
    overflow:auto;
    width: 100%;
    padding: 2em;
}

.left, .right {
    width: 45%;
    margin: 1px;
    padding: 2px;
}
.left {
    float:left;
}
.right {
    float:right;
}
.line {
    fill: none;
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 175px;
    height: 28px;
    padding: 2px;
    font: 11px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.select{
    float:right;
    width: 20%;
    margin: 1px;
    padding: 2px;
}


.selectMap{
    float:right;
    width: 20%;
    margin: 1px;
    padding: 2px;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td, th {
    padding: 1px 4px;
    border: 1px black solid;
}

.tile {
    stroke: grey;
    stroke-width: 4;
}

select.selectMapHide
{
    display: none
}

.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 300px;
    border-style: groove;
    /*padding: 12px;*/
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: 'Ubuntu', sans-serif;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}

