body{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 65px;
}
h1, h2, h3, h4, h5, h6{
    margin-top:5px;
    margin-bottom:2px;
    text-align: center;
}

.line {
    fill: none;
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 175px;
    height: 28px;
    padding: 2px;
    font: 11px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.select{
    float:right;
    width: 20%;
    margin: 1px;
    padding: 2px;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

#sunburst path {
    stroke: white;
    stroke-width: 1;
}

#explanation {
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td, th {
    padding: 1px 4px;
    border: 1px black solid;
}

.container-fluid > div, .row > .col {
    border: solid;
    border-color: gray;
    border-width: medium;
}

#filters span {
    color: gray;
}